static/backup
static/_javascript
static/_sass
static/node_modules
static/lib
static/gulpfile.js
static/webpack.config.js
static/package.json
static/package-lock.json

dynamic/node_modules
dynamic/gulpfile.js
dynamic/index.php
dynamic/wire
dynamic/.htaccess
dynamic/.gitattributes
dynamic/composer.json
dynamic/CONTRIBUTING.md
dynamic/LICENSE.TXT
dynamic/README.md

dynamic/site/assets
dynamic/site/modules
dynamic/site/.htaccess
dynamic/site/config.php

dynamic/src/scss/uikit