@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;900&display=swap');

$green: #4a9f44;
$dark-grey: #333333;
$white: #FFFFFF;
$black: #000000;


$roboto: 'Roboto',sans-serif;
$roboto-condensed: 'Roboto Condensed',sans-serif;
