@import "variables";


// fix for slickslide
* {
    min-height: 0;
    min-width: 0;
}


// Globals
p {
    font-family: $roboto;
    font-weight: 400;
}


header {
    border-top: 10px solid $green;
}

#nav {
    border-top: 10px solid $green;
    position: relative;
    font-family: $roboto;
    font-weight: 900;

    & .call-us {
        position: absolute;
        right: 60px;
        padding: 10px 20px;
        font-weight: 900 !important;
        text-transform: capitalize;
        background: rgba($white, 0.8);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 12;

        & .fa-stack {
            vertical-align: middle;
            color: $green;
        }
    }

}
.text-logo {
    padding: 0 0 0 20px;
    font-family: $roboto;
    text-transform: uppercase;
    font-weight: 900;

}



#slideshow {
    background: $dark-grey;


    & .copy {

        & h2 {
                font-family: 'Roboto Condensed',sans-serif;
                text-transform: uppercase;
                font-size: 4rem;
            }

            & h3 {
                font-size:3rem;
                font-family: 'Roboto Condensed',sans-serif;
            }
        }

        & .slick-dots {
            bottom: 20px !important;
            color: $white;
        }

        &.slick-slider {
            margin-bottom: 0 !important;
        }
}


#services {
    margin: 20px 0;

    & h1 {
        text-transform: uppercase;
        font-weight: 900;
        color: $dark-grey;
        font-size: 2rem;
    }
    & h2 {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }

    & p {
        font-size: 12px;
    }
    & .service-btn {
        position: absolute;
        left: 20%;
        bottom: -20px;
    }


}


#about {
    padding: 20px 0;

    & h1 {
        font-family: $roboto;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2rem;
        margin: 0;
        color: $dark-grey;

    }

    & h2 {
        color: $dark-grey;
        text-transform: uppercase;
        font-weight: 900;
        margin: 0;
        font-size: 1.5rem;

    }

    & .icons {
        color: $green;
    }

    & p {
        margin: 0;
        padding: 10px 0;
    }
}

#steps {
    position: relative;
    padding: 20px 0;
    background: $dark-grey;
    color: $white;

    & h1 {
        padding: 0 0 0 10px;
        font-weight: 900;
        color: $white;
        margin: 0;

    }

    & h2 {
        font-size: 2rem;
        padding: 0 0 0 10px;
        text-transform: capitalize;
        font-weight: 900;
        color: $white;

        & span {
            border-bottom: 2px solid $green;
            padding: 0 0 5px 0;
        }

    }


    & h3 {
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2rem;
        padding: 0 10px;
        color: $white;
        margin: 0;

    }

    & p {
        font-size: 14px;
        padding: 0 10px;
        margin: 0;
    }

    & .step {
        padding: 20px 0 20px 80px;
        position: relative;

        & p {
            font-size: 14px;
        }

        & .number {
            position: absolute;
            top: -20px;
            left: -20px;
            font-family: 'Roboto Condensed', sans-serif;
            font-style: italic;
            font-size: 8rem;
        }
    }

}















/*#steps {
    background: $dark-grey;
    padding: 0;

    & h1 {
        padding: 0 0 0 60px;
        font-weight: 900;
    }

    & h2 {
        font-size: 2rem;
        padding: 0 0 0 60px;
        text-transform: capitalize;
        font-weight: 900;

        & span {
            border-bottom: 2px solid $green;
            padding: 0 0 5px 0;
        }

    }


    & h3 {
        text-transform: uppercase;
        font-family: 'Roboto Condensed',sans-serif;
        font-size: 2rem;
        padding: 0 10px;
    }

    & p {
        font-size: 12px;
        padding: 0 10px;
    }

    & img {
        width: 100%;
        display: block;
    }


    & .step {
        padding: 20px 0 20px 160px;
        position: relative;

        & p {
            font-size: 12px;
        }

        & .number {
            position: absolute;
            top: -20px;
            left: 60px;
            font-family: 'Roboto Condensed',sans-serif;
            font-style: italic;
            font-size: 8rem;
        }
    }

}*/


#testimonials {
    padding: 20px 0;

    & p {
        margin: 0;
        font-style: italic;

        &:first-of-type {
            font-weight: 900;
            font-style: normal;
            color: $dark-grey;
        }
    }

    & .uk-panel {
        padding: 10px 20px;

        & img {
            border-radius: 50%;
            border: 5px solid $green;
        }
    }

}



/*#testimonials {
    padding: 20px 0;

    & h1 {
        text-align: center;
        font-family: $roboto;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 2rem;
        color: $dark-grey;
    }

    & .testimonial {
        padding: 20px;


        & .testimonial-image {
            width: 20%;
            float: left;

            & img {
                vertical-align: middle;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 5px solid $green;
                margin: 0 auto;
            }
        }
    
        & .testimonial-copy {
            width: 75%;
            padding: 20px 0 0 20px;
            float: left;
            vertical-align: middle;


            & p {
                font-style: italic;

                &:first-of-type {
                    font-weight: 900;
                    font-style: normal;
                    color: $dark-grey;
                }
            }


        }
    
    
    }

    & .slick-prev:before {
        color: $dark-grey !important;
        font-size: 32px !important;
    }

    & .slick-next:before {
        color: $dark-grey !important;
        font-size: 32px !important;
    }
}*/


#footer-top {
    padding: 20px 0;
    background: $dark-grey;
    color: $white;

    & .logo-text {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 900;

    }

    & .logo-image {
        width: auto !important;
        flex:none;
    }

    & ul {
        list-style: none;

        & li {
            margin: 0;
            padding: 0;

            & a {
                color: $green;
            }
        }
    }
}


#cities {
    color: $white;
    background: $dark-grey;
    text-align: center;
    padding: 20px 0;

    & p {
        font-family: 'Roboto Condensed',sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-bottom: 2px solid $green;
        padding: 0 0 5px 0;
        margin: 0 0 10px 0;
        text-align: center;
    

    }

    & ul {
        margin: 20px auto;
        list-style: none;

        &.cities-main {
            & li {
                display: inline-block;
                background-image: none;
                padding: 0 30px;
                position: relative;
            
                &:after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: $green;
                    top: 9px;
                    right: -5px;
                    border-radius: 50px;
                }
            
            }

            & li:last-child:after {
                display: none;
            }
        }
    }

}

footer {

    &.footer {
        background: $green;
        color: $white;
        padding: 10px !important;
    }
}



@media only screen and (max-width: 600px) {

        & #slideshow {

            & h2 {
                font-size: 1rem !important;
            }
            & h3 {
                margin-top: 0;
                font-size: 1.9rem !important;
            }
        }

        & #steps {
            & .step {
                padding: 20px 0 20px 80px;
                position: relative;

                & p {
                    font-size: 12px;
            }

            & .number {
                position: absolute;
                top: -20px;
                left: 0;
                font-family: 'Roboto Condensed', sans-serif;
                font-style: italic;
                font-size: 8rem;
            }
            }

        }


        & #testimonials {

            & .testimonial-image {
                width: 100% !important;
                float: none !important;

                & img {
                    vertical-align: middle;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    border: 5px solid $green;
                    margin: 0 auto !important;
                }
            }

            & .testimonial-copy {
                float: none !important;
                width: 100% !important;
                padding: 0 30px !important;

            }

            & .slick-prev {
                left: 5px !important;
            }

            & .slick-next {
                right: 15px !important;
            }



        }



}