$green: #4a9f44;
$dark-grey: #333333;
$white: #FFFFFF;
$black: #000000;

// fix for slickslide
* {
    min-height: 0;
    min-width: 0;
}

#nav {
    border-top: 10px solid $green;
}
.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;

}


#slideshow {
    background: $black;


    & .slideshow {

        & .slide {
            position: relative;

            & .copy {
                position: absolute;
                color: $white;
                left: 15%;
                top: 25%;
                z-index: 10;

                & h2 {
                    font-family: 'Roboto Condensed',sans-serif;
                    text-transform: uppercase;
                    font-size: 5rem;
                }

                & h4 {
                    font-size:3rem;
                    font-family: 'Roboto Condensed',sans-serif;
                }
            }

            & img {
                z-index: 9;
                opacity: 0.3;
            }
        }

        & .slick-dots {
            bottom: 20px !important;
            color: $white;
        }

        &.slick-slider {
            margin-bottom: 0 !important;
        }
    }
}


#services {
    padding: 20px 0;

    & h2 {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }

    & p {
        font-size: 12px;
    }
    & .service-btn {
        position: absolute;
        left: 25%;
        bottom: -20px;
    }


}


#about {
    padding: 20px 0;

    & p {
        padding: 10px;
    }
}

#steps {
    background: $dark-grey;
    padding: 0;

    & h2 {
        font-size: 2rem;
        padding: 0 0 0 60px;
        text-transform: capitalize;

        &:first-of-type {
            font-size: 1rem;
        }

        & span {
            text-decoration: underline;
            text-decoration-color: $green;
        }

    }


    & h3 {
        text-transform: uppercase;
        font-family: 'Roboto Condensed',sans-serif;
        font-size: 2rem;
        padding: 0 10px;
    }

    & p {
        font-size: 12px;
        padding: 0 10px;
    }

    & img {
        width: 100%;
        display: block;
    }


    & .step {
        padding: 20px 0 20px 160px;
        position: relative;

        & p {
            font-size: 12px;
        }

        & .number {
            position: absolute;
            top: -20px;
            left: 60px;
            font-family: 'Roboto Condensed',sans-serif;
            font-style: italic;
            font-size: 8rem;
        }
    }

}


#testimonials {
    padding: 20px 0;


    & .testimonial {
        padding: 20px;


        & .testimonial-image {
            width: 20%;
            float: left;

            & img {
                vertical-align: middle;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 5px solid $green;
                margin: 0 auto;
            }
        }
    
        & .testimonial-copy {
            width: 75%;
            padding: 20px 0 0 20px;
            float: left;
            vertical-align: middle;

            & h4 {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: bold;
            }
        }
    
    
    }

    & .slick-prev:before {
        color: $dark-grey !important;
        font-size: 32px !important;
    }

    & .slick-next:before {
        color: $dark-grey !important;
        font-size: 32px !important;
    }
}


#footer-top {
    padding: 20px 0;
    background: $black;
    color: $white;
}


#cities {
    color: $white;
    background: $black;
    text-align: center;
    padding: 20px 0;

    & p {
        font-family: 'Roboto Condensed',sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        background: $green;
        padding: 10px 20px;
        display: inline;
        margin: 0 0 20px 0;
    

    }

    & ul {
        margin: 20px 0;

        &.cities-main {
            & li {
                display: inline-block;
                background-image: none;
                padding: 0 30px;
                position: relative;
            
                &:after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: $green;
                    top: 9px;
                    right: -5px;
                    border-radius: 50px;
                }
            
            }

            & li:last-child:after {
                display: none;
            }
        }
    }

}

footer {

    &.footer {
        padding: 10px !important;
    }
}